/**
 * @file
 * Content.css
 *
 * The components describing primary content. Typically appears in the right-
 * most sidebar.
 *
 */
/* line 14, ../../scss/components/content.scss */
.content--main h1 {
  color: #999999;
  margin-top: 10px;
}
/* line 19, ../../scss/components/content.scss */
.content--main li.node-readmore {
  float: right;
  margin-top: -10px;
  text-transform: uppercase;
}
/* line 25, ../../scss/components/content.scss */
.content--main .node p {
  line-height: 1.75;
}
