/**
 * @file
 * Navigation.css
 *
 * The components describing navigation and their variants. Often appears
 * in the left-most sidebar.
 *
 */
/* Defaults for all navigation */
/* line 13, ../../scss/components/navigation.scss */
#nav {
  font-size: 110%;
  font-family: serif;
  text-decoration: none;
}

/* Variant: Primary navigation */
/* line 21, ../../scss/components/navigation.scss */
.navigation--primary a, #block-menu-devel-frinosiwu a {
  color: #336666;
}
/* line 25, ../../scss/components/navigation.scss */
.navigation--primary ul.menu, #block-menu-devel-frinosiwu ul.menu {
  border-top: 2px dotted #336666;
}
/* line 29, ../../scss/components/navigation.scss */
.navigation--primary ul.menu li, #block-menu-devel-frinosiwu ul.menu li {
  border-bottom: 2px dotted #336666;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  text-align: center;
}

/* Variant: Secondary navigation */
/* line 45, ../../scss/components/navigation.scss */
.navigation--secondary a, #block-system-main-menu a {
  color: #996633;
}
/* line 49, ../../scss/components/navigation.scss */
.navigation--secondary ul.menu, #block-system-main-menu ul.menu {
  border-top: none;
}
/* line 53, ../../scss/components/navigation.scss */
.navigation--secondary ul.menu li.leaf, #block-system-main-menu ul.menu li.leaf {
  border-bottom: none;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
}
/* line 63, ../../scss/components/navigation.scss */
.navigation--secondary .secondary--secondtier a, #block-system-main-menu .secondary--secondtier a {
  text-decoration: underline;
}
